<div class="stock-container">
  <div class="name"><h3>{{stock.name}}</h3> - <h4>({{stock.code}})</h4></div>
  <div class="price" [ngClass]="styleClasses">${{stock.price}}</div>
  <div class="price" [ngStyle]="styleSheet">${{stock.price}}</div>
  <div class="price" [class.positive]="stock.isPositiveChange()"
                     [class.negative]="!stock.isPositiveChange()">${{stock.price}}</div>
  <div class="price" [style.color]="stock.isPositiveChange() ? 'green' : 'red'">${{stock.price}}</div>
  <button (click)="toggleFavorite($event)" [disabled]="stock.favorite">Add to Favorite</button>
</div>